# DB
POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=<db_port>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>

#DJANGO
SECRET_KEY="your-django-secret-key-here"
DJANGO_SETTINGS_MODULE="your_settings_module_here"
RENDER_EXTERNAL_HOSTNAME=<domain>